.container {
  margin: 20%;
}
.dflex {
  display: flex;
}
.flexChild1 {
  flex-basis: 40%;
}
.flexChild1 {
  .child {
    width: 80%;
    margin: 8px;
  }
}
.flexChild2 {
  flex-basis: 60%;
}
.dflexCol {
  display: flex;
  flex-direction: column;
}
.borderRad0 {
  border-radius: 0;
}
.tickerTitle {
  display: flex;
  align-items: center;
}
.priceChange {
  display: flex;
  align-items: flex-end;
}
.primaryRed {
  color: #f5222d;
}
.primaryGreen {
  color: #52c41a;
}
.tickerCard {
  width: "80%";
  padding-top: "0";
  height: "fit-content";
}
